*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    width: 560px;
    background: #f5f5f5;
    border: 2px solid #000;
    border-radius: 25px;
    padding: 50px;
}

.login-form h2{
    text-align: center;
    font-size: 52px;
    margin-bottom: 35px;
    font-weight: bold;
}

.mensaje{
    background: #ffdede;
    color: red;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.form-group{
    position: relative;
    margin-bottom: 30px;
}

.form-group input{
    width: 100%;
    padding: 20px 60px;
    border: 2px solid #999;
    border-radius: 15px;
    font-size: 28px;
    outline: none;
}

.icon{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
}

.toggle-password{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
}

.btn{
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 15px;
    background: #cfcfcf;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 25px;
}

.btn:hover{
    background: #bdbdbd;
}

.forgot-password{
    margin-bottom: 40px;
}

.forgot-password a{
    font-size: 24px;
    color: blue;
}

.signup-link{
    text-align: center;
    font-size: 24px;
}

.signup-link a{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}